Cognitive_Flexibility/senseai_backend/serviceAccountKey.json
/Cognitive_Flexibility/senseai_backend/backups
*.json

# Allow these specific JSON files
!package.json
!vercel.json
!SenseAI/web_application/package.json
!SenseAI/senseai_backend/package.json
!SenseAI/web_application/src/locales/*.json

# Python/Misc
*.pyc
**/__pycache__
node_modules/
dist/
.env*
Restrictive_Repititive_Behaviors/backend/vercel.json
Visual attention & preferences/SenseAI/backend/vercel.json
